In [1]:
import pandas as pd
import numpy as np
DTST = '~/Data/DZDT/test/sources/sentiment/twifil.csv'

In [3]:
data = pd.read_csv(DTST, sep=',')

data.head()

,ID,Code,Post,lang,Created At,Followers Count,Profile Link Color,Geo Enabled,Screen Name,Name,Profile Lang,Polarity,Polarity Class,User Age,Emotion,Platform
0,1,9.528348e+17,@gamehacker080 @WaellAmeer @Kempa2010 @omeralb...,ar,Mon Jan 15 09:28:13 +0000 2018,215,0084B4,1,JackoTyga,Amine Jacko,fr,"3,43",Positive,26.0,NaN,Twitter
1,2,9.528348e+17,@arar12332095361 ØµÙ„ Ø§Ù„Ù„Ù‡ Ø¹Ù„ÙŠÙ‡ Ùˆ Ø³Ù„Ù…,ar,Mon Jan 15 09:28:01 +0000 2018,1682,19CF86,1,aminoooo_amine,Amine Bourahla,fr,"7,14",Positive,26.0,NaN,Twitter
2,3,9.528346e+17,@SRKFC1 @iamsrk @gaurikhan ğŸ’–ğŸ’–ğŸ’–ğŸ’–ğŸ’–ğŸ’– https://t.co...,und,Mon Jan 15 09:27:35 +0000 2018,114,1DA1F2,1,FoufaKiri,Foufa kiri,fr,"3,33",Positive,NaN,NaN,Twitter
3,4,9.528346e+17,.@realDonaldTrump YOU did this you started it!...,en,Mon Jan 15 09:27:21 +0000 2018,5367,E81C4F,1,Spartanise,Spartanise,en,"-6,29",Negative,NaN,NaN,Twitter
4,5,9.528341e+17,"ÙˆÙ‚Ø§Ù„: "" ... ÙˆØ¹Ù„ÙŠÙ‡Ù… *Ø£ÙÙ†Ù’ ÙŠÙƒÙˆÙ†ÙˆØ§ Ø¹Ù„Ù‰ ÙŠÙ‚Ø¸Ø©Ù* Ù…ÙÙ†...",ar,Mon Jan 15 09:25:15 +0000 2018,135,1DA1F2,1,GhanayK,Ø£Ø¨Ùˆ Ø§Ù„Ø¹Ø¨Ø§Ø³ ÙƒØ±ÙŠÙ…,ar,"-2,71",Negative,NaN,NaN,Twitter

In [4]:
# delete all columns except Post and Polarity Class
data = data[['Post', 'Polarity Class']]
data.head()

                                                Post Polarity Class
0  @gamehacker080 @WaellAmeer @Kempa2010 @omeralb...       Positive
1                @arar12332095361 ØµÙ„ Ø§Ù„Ù„Ù‡ Ø¹Ù„ÙŠÙ‡ Ùˆ Ø³Ù„Ù…       Positive
2  @SRKFC1 @iamsrk @gaurikhan ğŸ’–ğŸ’–ğŸ’–ğŸ’–ğŸ’–ğŸ’– https://t.co...       Positive
3  .@realDonaldTrump YOU did this you started it!...       Negative
4  ÙˆÙ‚Ø§Ù„: " ... ÙˆØ¹Ù„ÙŠÙ‡Ù… *Ø£ÙÙ†Ù’ ÙŠÙƒÙˆÙ†ÙˆØ§ Ø¹Ù„Ù‰ ÙŠÙ‚Ø¸Ø©Ù* Ù…ÙÙ†...       Negative

In [5]:
# rename columns Post to text, Polarity Class to class
data = data.rename(columns={'Post': 'text', 'Polarity Class': 'class'})
data.head()

                                                text     class
0  @gamehacker080 @WaellAmeer @Kempa2010 @omeralb...  Positive
1                @arar12332095361 ØµÙ„ Ø§Ù„Ù„Ù‡ Ø¹Ù„ÙŠÙ‡ Ùˆ Ø³Ù„Ù…  Positive
2  @SRKFC1 @iamsrk @gaurikhan ğŸ’–ğŸ’–ğŸ’–ğŸ’–ğŸ’–ğŸ’– https://t.co...  Positive
3  .@realDonaldTrump YOU did this you started it!...  Negative
4  ÙˆÙ‚Ø§Ù„: " ... ÙˆØ¹Ù„ÙŠÙ‡Ù… *Ø£ÙÙ†Ù’ ÙŠÙƒÙˆÙ†ÙˆØ§ Ø¹Ù„Ù‰ ÙŠÙ‚Ø¸Ø©Ù* Ù…ÙÙ†...  Negative

In [6]:
data['class'].unique()

array(['Positive', 'Negative', 'Neutral'], dtype=object)

In [7]:
X = data.iloc[:, 0]
y = data.iloc[:, 1]

y.head()

0    Positive
1    Positive
2    Positive
3    Negative
4    Negative
Name: class, dtype: object

In [8]:
from sklearn.model_selection import train_test_split

# split to train, test with stratification
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, stratify=y, random_state=42)

In [ ]:
# reconstruct the dataset
train_data = pd.DataFrame(X_train, columns=['text'])
train_data = pd.concat([train_data, pd.DataFrame(y_train, columns=['class'])], axis=1)
train_data.to_csv(DTST.replace(".csv", "_train.csv"), index=False, sep='\t')

In [10]:
train_data = pd.DataFrame(X_test, columns=['text'])
train_data = pd.concat([train_data, pd.DataFrame(y_test, columns=['class'])], axis=1)
train_data.to_csv(DTST.replace(".csv", "_test.csv"), index=False, sep='\t')